<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        h1 { color:khaki; font-size:40px }
        body { background-color:maroon; font-family:garamond }
    </style>
</head>
<body>
<h1>Log-in</h1>
<form action="login" method="post">
    {% csrf_token %}

    <input type="text" name="username" placeholder="Enter username"><br>
    <input type="password" name="password" placeholder="Enter password"><br>
    <input type="submit" placeholder="Login">
</form>
</body>
</html>